!!! xml
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    script(type="text/javascript", src="/js/sprintf.js")
    script(type="text/javascript", src="/js/underscore.js")
    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
  body
    !=body